{% extends 'base.html' %}

{% block title %}Post edit{% endblock %}

{% block content %}
    <h1 align="Center">Edit Post</h1>
    <img src="..{{ post.photo_path[7:] }}" alt="Something went wrong" height="400" width="400">
    <form method="post" enctype="multipart/form-data">
{#        <label for="category">Category:</label>#}
{#        <div class="dropdown">#}
{#            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">#}
{#             Choose post category#}
{#            </button>#}
{#            <ul class="dropdown-menu">#}
{#                <li><a class="dropdown-item" href="#">Technology</a></li>#}
{#                <li><a class="dropdown-item" href="#">Game industry</a></li>#}
{#                <li><a class="dropdown-item" href="#">Trends</a></li>#}
{#            </ul>#}
{#        </div>#}
        <label for="title">Title:</label>
        <input type="text" name="edited-title" id="title" class="form-control" value="{{ post.title }}">
        <label for="text">Text:</label>
        <textarea name="edited-text" id="text" class="form-control">{{ post.text }}</textarea>
        <label for="photo">Change the photo</label>
        <input id="photo" type="file" name="edited-photo">
        <br>
        <div align="Center">
            <button type="submit" class="btn btn-lg btn-warning">Save</button>
        </div>
    </form>
    <br>
    <div align="Center">
        <a href="/home"><button type="button" class="btn btn-lg btn-secondary">Back</button></a>
    </div>
    <br>
{% endblock %}