{% extends 'base.html' %}

{% block title %}#{% endblock %}

{% block content %}
    <h1{% block header %} align="Center">Posts{% endblock %}</h1>
    <div id="posts">
        {% for post in posts %}
            <div class="card border-dark">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <a href="/posts/{{post.user.username }}">{{ post.user.username }}</a>
                        <div>
                            {{ post.likes|length }}
                            <a href="/like-post/{{ post.id }}"><i class="far fa-heart"></i></a>

                            {% if user.id == post.author %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/delete-post/{{ post.id }}" class="dropdown-item">Delete</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ post.title }}
                    </h5>
                    <br>
                    <div class="card-text">
                        {{ post.text }}
                    </div>
                    <div class="collapse" id="comments-{{ post.id }}">
                        <div class="card">
                            <div class="card-body" id="comment-expanded-{{ post.id }}">
                                {% for comment in post.comments %}
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div>
                                            <a href="/post/{{ comment.user.username }}">{{ comment.user.username }}</a> : {{ comment.text }}
                                        </div>
                                        <div>
                                            <small class="text-muted">
                                                {{ comment.date_created }}
                                            </small>
                                            {% if user.id == comment.author or user.id == post.author %}
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="/delete-comment/{{ comment.id }}" class="dropdown-item">Delete</a></li>
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <p class="card-text">
                        {% if post.comments|length > 0 %}
                            <a data-bs-toggle="collapse" href="#comments-{{ post.id }}" role="button">
                            <small>View {{ post.comments|length }} Comments</small>
                            </a>
                        {% else %}
                            <small class="text-muted">No Comments</small>
                        {% endif %}
                    </p>
                    <form class="input-group mb-3" method="post" action="/create-comment/{{ post.id }}">
                        <input type="text" id="comment" name="comment" class="form-control" placeholder="Comment something!">
                        <button type="submit" class="btn btn-primary">Comment</button>
                    </form>
                    <br>
                </div>
                <div class="card-footer text-muted">
                    {{ post.date_created }}
                </div>
            </div>
            <br>
        {% endfor %}
        {% block footer %}
            <div align="center">
                <a href="/create-post">
                    <button type="button" class="btn btn-primary btn-lg">
                        Create a Post
                    </button>
                </a>
            </div>
            <br>
        {% endblock %}
    </div>
{% endblock %}